
  .nav{
    display: flex;
    width: 100vw;
    align-items: center;
    Line-height:10px;
    margin: 22px;
    
    
  
  }

  nav> div> img{
    Width:109px;
    Height:53px;
    Top:27px;
    Left:135px;
    
  }

  


  .nav-links{
    display: flex;
    Width:85vw;
    Height:24px;
    Top:41px;
    Left:340px;
    justify-content:center;
    margin-left: 180px; 
   
  }


  .nav-links> ul >li {
    list-style-type: none;
     display: inline-block;
   
    
     
  }

  .nav-links> ul > li > a{
    text-decoration: none;
    Font:Metropolis;
    font-weight:600;
    Size:12px;
    Line-height:10px;
    margin: 22px;
    color: black;
    word-break: normal;
    

  }

.nav-search{
  display: flex;
  align-items: center;
  width:15vw;
  justify-content: space-around;
  color: black;
  margin-left:192px;

 
  
}

.nav-search > button{
  Width:108px;
  Height:36px;
  Top:35px;
  Padding:8px, 20px, 8px, 20px;
  Gap:10px;
  background-color: #ED017F;
  color:whitesmoke;

}

/* Heroes */

.Heroes{
  display: flex;
  justify-content:space-around; 
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;

} 



.Heroes-1{
display: flex;
flex-direction:column;
height:654px;


} 

 .Heroes-1 >h1{
font-family: Metropolis;
font-size: 63px;
font-weight: 900;
line-height: 68px;
text-align: left;
width:433px;
height: 136px;
top: 222px;
gap: 0px;
opacity: 0px;

}

.Heroes-1 >p{
  font-family: Metropolis;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
 width: 360px;
 height: 44px;
 top: 381px;
 left: 135px;
 gap: 0px;
 opacity: 0px;
 

}

.Heroes-1-buttons{
width: 365px;
height:46px;
top: 463px;
left: 135px;
margin: 20px;
opacity: 0px;

}

.btn1{
width: 157px;
height: 46px;
gap: 10px;
opacity: 0px;
background-color: #ED017F;
color: whitesmoke;
margin-right: 4px;

}

.btn2{
height:46px;
padding: 13px 20px 13px 20px;
gap: 10px;
border: 1px 0px 0px 0px;
opacity: 0px;
color: #ED017F;

} 




.Heroes-icons{
height:24px;
box-sizing: border-box;
gap: 0px;
justify-content: space-between;
opacity: 0px;



}
.Heroes-2{ 
  width: 890px;
  padding: 20px;
  height: 682px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  position: relative;
  gap: 0px;
  opacity: 0px;
  align-items: center;
  justify-content:center;
 
  box-sizing: border-box;
  
} 



 .background{
  background-image: url('/family-photo.svg');
  background-size: 'auto';
  width:905px;
  height:654px;
  top:614px;
 
 
} 

.test{
  display:flex;
  position: absolute;
  background-color:#FFEAF5;
  left: 175px;
  width:885px;
  height:654px;
  top:-91px;
  z-index: -2;
 

}
  


.car-icon{
  display:flex;
  position: absolute;
  align-items: center;
  height: 71px;
  top: 54px;
  left: 90px;
  padding: 0px 27px 0px 27px;
  gap: 19px;
  border-radius:55px;
  box-sizing: border-box;
  opacity: 0px;
  background-color:whitesmoke;
} 
.car-icon > p{
color:black;
align-items: center;
word-break: keep-all;
font-family: Metropolis;
font-size: 18px;
font-weight: 700;
line-height: 22px;
text-align: left;

  
} 



.home-icon{
display: flex;
align-items: center;
position:absolute;
width:204.65px;
height:71px;
top: 166px;
left:647px;
padding: 0px 27px 0px 27px;
box-sizing: border-box;
gap: 9px;
border-radius:56px;
opacity: 0px;
background-color:whitesmoke;


}  

 .home-icon > p{
  color:black;
  align-items: center;
  word-break: keep-all;
  font-family: Metropolis;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  
    
  }  

 



.dot-icons{
width:13px;
top: 57px;
left:452px;
gap: 0px;
justify-content: space-between;
opacity: 0px;




}  


/* section 1 */




.section1-ctr{
  display: flex;
  flex-direction:column;
  align-items: center;
  flex-wrap: wrap;

}

.sec1-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center; 
  margin: 0;
  

}

.sec1-content > h1{
  height:20px;
  top: 772px;
  gap: 0px;
  opacity: 0px;
 
}
.sec1-content > p{
  font-family: Metropolis;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color:#999999;
  
  
}

.sec1-values{
display: flex;
width: 100vw;
height:231px;
top: 283px;
gap: 0px;
justify-content: space-around;
opacity: 0px;

}

.sec1-values >div{
  height:31px;
  padding: 24px 0px 0px 0px;
  gap:8px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  
}


.sec1-2{
display: flex;
width: 100vw;
height:231px;
top: 283px;
gap: 0px;
justify-content: space-around;
opacity: 0px;
}

.sec1-2> div{
  height:31px;
  padding: 24px 0px 0px 0px;
  gap: 18px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;

}


/* section-2 */


.patners-logos{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 449px;
  gap: 0px;
  opacity: 0px;
  background-color: #FCE0EF;
  
}


.patners-logos> h3{
font-family: Metropolis;
font-size: 23px;
font-weight: 400;
line-height: 23px;
letter-spacing: 2.0999999046325684px;
gap: 0px;
opacity: 0px;


}

.logo{
/* width:1,170px; */
/* width: 100vw; */
/* height:110.36px; */
/* top: 189px; */
/* left: 135px; */
/* gap: 0px; */
/* justify-content: center; */
/* opacity: 0px; */
margin: 50px;





}

.logo> img{
height: 110.36px;
padding: 0px 0px 0.08px 0px;
gap: 0px;
opacity: 0px;
margin: 0px 50px 0px 50px ;



}

/* section3 */

.section-3{
display: flex;
justify-content:baseline;
flex-wrap: wrap;
height: 610px;
gap: 0px;
opacity: 0px;


}


.section-3>div>img{
height: 610px;
gap: 0px;
opacity: 0px;

}

.section-3-2{


height: 610px;
gap: 0px;
opacity: 0px;
display: flex;
flex-direction: column;
align-items:flex-start;
margin-left: 100px;

}


.section-3-2> h3{
font-family: Metropolis;
font-size: 32px;
font-weight: 700;
line-height: 38px;
text-align: left;
height: 38px;
gap: 0px;
opacity: 0px;



}
.section-3-2>p{
  align-items: center;
  font-family: Metropolis;
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  text-align: left;
  width: 460px;
  height: 290px;
  gap: 0px;
  opacity: 0px;
  margin-top: 30px;

  
}

.section-3-2>div{
display: flex;
align-items: center;
height:29px;
gap: 7.25px;
opacity: 0px;
margin-left: 70px;
margin-top: 100px;


}



/* section4 */
.section-4{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
width: 100vw;
height: 842px;
gap: 0px;
opacity: 0px;


}

.section-4-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4-content>h2{
height: 43px;
top: 106px;
gap: 0px;
opacity: 0px;
font-family: Metropolis;
font-size: 36px;
font-weight: 700;
line-height: 43px;
text-align: center;
}


.section-4-content>p{
height: 22px;
top: 169px;
gap: 0px;
opacity: 0px;
font-family: Metropolis;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;

  
}



.section-4-img{
display: flex;
align-items: center;
justify-content: space-evenly;

}

.section-4-img>div{
  border-radius: 9px 0px 0px 0px;
  opacity: 0px;
  justify-content: space-around;
   margin-left: 70px;
  margin-right: 60px;
  

}



/* section5 */

.section-5{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 width: 100vw;
 flex-wrap: wrap;
}

.section-5>div>h3{
height: 43px;
top: 106px;
gap: 0px;
opacity: 0px;
font-family: Metropolis;
font-size: 36px;
font-weight: 700;
line-height: 43px;
text-align: center;


}
.section-5>div>p{
height: 44px;
top: 169px;
gap: 0px;
opacity: 0px;
font-family: Metropolis;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;

  
}

.ones{
display: flex;
width: 100vw;
height:101px;
gap: 0px;
justify-content: space-around;
flex-wrap: wrap;
opacity: 0px;

}

.ones>div{
height:76px;
opacity: 0px;


}


.twos{
display: flex;
flex-wrap: wrap;
width: 100vw;
height:101px;
gap: 0px;
justify-content: space-around;
opacity: 0px;
margin-top: 40px;


}

.twos>div{
height:76px;
opacity: 0px;


}


/* section-6 */

.section-6{
  width: 100vw;
  height: 403px;
  gap: 0px;
  opacity: 0px;
  background-color: #FEF9FC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.cont{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.cont>h2{
height: 43px;
top: 100px;
gap: 0px;
opacity: 0px;
font-family: Metropolis;
font-size: 36px;
font-weight: 700;
line-height: 43px;
text-align: center;

  


}
.cont>p{
width: 410px;
height: 44px;
top: 163px;
gap: 0px;
opacity: 0px;
font-family: Metropolis;
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: center;


}

.cont2{
height:6px;
top: 241px;
gap: 1px;
opacity: 0px;
display: flex;
align-items: center;
margin-top: 50px;

}





.footer{
display: flex;
gap: 0px;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
opacity: 0px;

}

.aboutco{
width:10%;
height: 192px;
gap: 0px;
opacity: 0px;


}

.socials{
top: 168px;
left: -6px;
gap: 16px;
opacity: 0px;

}

.products{
gap: 0px;
opacity: 0px;
width:10%;
}


.getstarted{
gap: 0px;
opacity: 0px;
width:10%;
}

.about{
gap: 0px;
opacity: 0px;
width:10%;
}

.phone{
gap: 0px;
opacity: 0px;
width:10%;
align-items: center;
display: flex;
}

.footer > div > p{
width:70%;
height: 110px;
top: 42px;
gap: 0px;
opacity: 0px;
font-family: Metropolis;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;

}



/* Responsiveness */


/* Base styles */
.nav {
  display: flex;
  width: 100vw;
  align-items: center;
  line-height: 10px;
  margin: 22px;
}

.nav > div > img {
  width: 109px;
  height: 53px;
  top: 27px;
  left: 135px;
}

.nav-links {
  display: flex;
  width: 85vw;
  height: 24px;
  top: 41px;
  left: 340px;
  justify-content: center;
  margin-left: 180px;
}

.nav-links > ul > li {
  list-style-type: none;
  display: inline-block;
}

.nav-links > ul > li > a {
  text-decoration: none;
  font-family: Metropolis;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  margin: 22px;
  color: black;
  word-break: normal;
}

.nav-search {
  display: flex;
  align-items: center;
  width: 15vw;
  justify-content: space-around;
  color: black;
  margin-left: 192px;
}

.nav-search > button {
  width: 108px;
  height: 36px;
  padding: 8px 20px;
  background-color: #ED017F;
  color: whitesmoke;
}

/* Media query for tablets */
@media (max-width: 768px) {


  * div > div >{
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
    width:60vw;
    height:90%;
    margin:20px;
    
  }
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin-left: 0;
  }
  
  .nav-links > ul > li {
    display: block;
    margin: 10px 0;
  }
  
  .nav-search {
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
  }
  
  .nav-search > button {
    width: auto;
    margin: 10px 0;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {


  
  * div > div >{
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:60vw;
    height:90vh;
    margin:20px;
    
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
  }

  h1,h2,h3,h4,p{
    font-size: small;
    line-height: auto;
    margin: 10px;
    padding: 30px;
  }

  img{
    width: 100px;
  }
}
